04-bases-de-node/output/*.txt
node_modules/
*.pptx
08-rest-server/.env
08-rest-server/uploads/products/**.*
08-rest-server/uploads/users/**.*
08-rest-server/.gitignore
09-typescript-rest-server/.env
09-typescript-rest-server/dist